
body {
    margin: 0;
    padding: 0;
    background-color: #77a7df;
    font-family: 'Roboto Slab', serif;
}

#main-svg {
    line-height: 1.6;
}

#main-svg .main-bg-image img {
    width: 100%;
}

.svg-header {
    color: #4e4e4e;
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.svg-header hr {
    color: #9aacc2;
}

.svg-body {
    text-align: justify;
}

#svg-main-body {
    width: 80%;
    padding-left: 10%;
    padding-top: 20px;
}

.svg-main-body-item {
    padding: 10px;
    margin: 10px;
}
#quote{
    font-size:12px;
    font-weight: bold;
    font-style: italic;
}
#des1{
    font-size:13px;
    
}
#img1{
    width:100%;
    margin: 0px 0px 15px 20px;
}
#p1{
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    color:white;
}
h1{
    color: #4e4e4e;
}
h2{
    font-size: 15px;
}
#img2{
    width:100%;
    opacity: 0.7;
}
.teammembers {
    color: #4e4e4e;
    box-sizing: border-box;
}
  
*,*:before, *:after {
    box-sizing: inherit;
}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
}

.teamconent {
padding: 0 16px;
}

.teamconent::after, .row::after {
content: "";
clear: both;
display: table;
}

.quotemem{
color: rgb(250, 249, 249);
}

.iframe-container{
position: relative;
width: 100%;
padding-bottom: 56.25%; 
height: 0;
}
.iframe-container iframe{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}
.map{
    position: relative;
    width: 100%;
    padding-bottom: 10%; 
    height: 0;
}
.map iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}